<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/customer/" class="site_title"><i class="fa fa-comments-o"></i> <span>Review ASP</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu prile quick info -->
        <div class="profile">
            <div class="profile_info">
                <span>ようこそ</span>
                <h2>{[$customer.customer_name]} 様</h2>
            </div>
        </div>
        <!-- /menu prile quick info -->

        <div class="clearfix"></div>
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-home"></i> ホーム <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="./">ダッシュボード</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-globe"></i> サイト管理 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="site_list">一覧</a></li>
                            <li><a href="site_edit">登録</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-comments-o"></i> コメント管理 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="general_elements.html">一覧</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-jpy"></i> お支払い管理 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="payment_list">一覧</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-user"></i> 会員情報 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="chartjs.html">情報変更</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-sign-out"></i> ログアウト </a></li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
    </div>
</div>
        