<!-- top navigation -->
<div class="top_nav">

    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {[$customer.customer_name]} 様
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                        <li><a href="javascript:;">  会員情報変更</a></li>
                        <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> ログアウト</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</div>
<!-- /top navigation -->



<!-- page content -->
<div class="right_col" role="main">

{[if $message]}
<div class="alert alert-success alert-dismissible fade in" role="alert" style="margin-bottom:10px; clear:both;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <strong>{[$message]}</strong>
</div>
{[/if]}